#titulo{
    display: flex;
    justify-content: center;
}

.divformulario{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.bt-env{
    margin-left: 40%;
    outline: none;
    border: none;
    background: transparent;
    font-size: 17px;
}

.bt-env:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.caixas{
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    font-size: 13px;
}

.txtspan{
    font-size: 20px;
}