.lista-objetivos{
    font-size: 20px;
    text-align: center;
}

.div-objetivos{
    margin-top: 80px;
    margin-left: 180px;
    margin-right: 180px;
}

.objetivos{
    display: flex;
    justify-content: center;
}