body{
    font-family: verdana;
    background-color: white;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background: rgb(116, 116, 116);
    border-radius: 10px;
}

header{
    background-color: white;
}

header *{
    display: flex;
}

header nav{
    margin: 10px;
    align-items: center;
}

header nav a {
    color: black;
    text-decoration: none;
    
}

.botoes-head{
    position: relative;
    left: 25cm;
    margin: 20px;
}

.logo{
    background: left / cover url(../imgs/club-ciencia-viva.jpg);
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.imagem-P-clube{
    vertical-align: middle;
    width: 100%;
    border-style: none;
}
