body{
    font-family: verdana;
    background-color: rgb(227, 184, 56);
}

header{
    background-color: rgb(173, 122, 41);
}

header *{
    display: inline;
    display: flex;
}

header li{
    margin: 20px;
}

header li a {
    color: aliceblue;
    text-decoration: none;
}

/* https://imgs.search.brave.com/ce5IbbH-OtWCR61ubgqG3jRscQrO99XdB2drfyPLfk4/rs:fit:768:1024:1/g:ce/aHR0cHM6Ly9pbWd2/Mi0yLWYuc2NyaWJk/YXNzZXRzLmNvbS9p/bWcvZG9jdW1lbnQv/NzY1MTg0OTIvb3Jp/Z2luYWwvNDQxYTFm/OTM2Yi8xNTY3ODA2/MjE1P3Y9MQ */