body{
    font-family: verdana;
    background-color: white;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background: rgb(116, 116, 116);
    border-radius: 10px;
}

header{
    background-color: white;
}

header *{
    display: inline;
    display: flex;
}

header li{
    margin: 20px;
    align-items: center;
}

header li a {
    color: black;
    text-decoration: none;
}

.logo{
    background: left / cover url(../imgs/club-ciencia-viva.jpg);
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    width: 150px;
}
