#Titulos{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#textos{
    display: flex;
    justify-content: center;
}

.kidsgifdiv{
    display: flex;
    justify-content: center;
}

.kidsgif{
    height: 200px;
    border-radius: 12px;
}

.email{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: black;
}

.div_textos{
    display: flex;
    justify-content: center;
}